<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus placeat
      nemo eligendi sint vitae temporibus eius, itaque odio laudantium
      similique! Dolorum impedit quis facere sed! Et laudantium temporibus at
      consequuntur!
    </p>
    <title>Hello from Flask</title>
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1>Hello, World!</h1>
    {% endif %}
    <form action="" method="post">
      <label for="name">Nombre: </label>
      <input type="text" id="name" name="name" /><br />
      <label for="email">Email: </label>
      <input type="text" id="email" name="email" /><br />
      <label for="password">Contraseña: </label>
      <input type="password" id="password" name="password" /><br />
      <input type="submit" id="send-signup" name="signup" value="Registrar" />
    </form>
  </body>
</html>
